#header {
    border-radius: 5px;
    background-color:purple;
    height: 20px;
    width: 200px;
}

.left {
    border-radius:5px;
	background-color:purple;
    height: 20px;
    width: 200px;
}

.right {
    border-radius: 5px;
    background-color:green;
    height: 20px;
    width: 200px;
}

#footer {
    border-radius: 5px;
    background-color:yellow;
    height: 20px;
    width: 200px;
}